@charset "UFT-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Josh Comeau's CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  min-height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and fonts */

:root {
  /* ### Primary */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* ### Accent */

  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  --ff-base: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* General Settings */

body {
  font-family: var(--ff-base);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  color: white;
  background: var(--Red) url("../images/bg-intro-mobile.png") no-repeat
    center/cover;
  text-align: center;
  padding: 5rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* Mobile First */

.card {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.card__text > h1 {
  padding: 0 2rem;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.trial h2 {
  background-color: var(--Blue);
  font-size: 1rem;
  font-weight: var(--fw-regular);
  padding: 1.25rem 3rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 7px 3px rgba(0, 0, 0, 0.247);
}

.feature {
  font-weight: bold;
}

form {
  background-color: white;
  color: var(--Grayish-Blue);
  padding: 1.5rem;
  border-radius: 0.75rem;
  display: grid;
  gap: 1rem;
}

input {
  width: 100%;
  border: 1px solid lightgray;
  padding-left: 2rem;
}

input::placeholder {
  font-weight: var(--fw-semi-bold);
  font-size: 0.875rem;
}

input,
#claim {
  height: 3.5rem;
  border-radius: 0.5rem;
}

#claim {
  background-color: var(--Green);
  color: white;
  text-transform: uppercase;
}

.small {
  font-size: 0.6875rem;
  padding: 0 1.25rem;
}

.red {
  color: var(--Red);
  font-weight: bold;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.errormsg {
    font-size: .6875rem;
    margin-top: -.5rem;
    text-align: right;
    color: var(--Red);
    display: none;
    position: relative;
}

.error_img {
    position: absolute;
    right: 10%;
    top: -300%;
}

@media screen and (min-width: 60em) {
  body {
    padding: 0;
    position: absolute;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }

  .card__text {
    text-align: left;
    padding: 0 8rem;
    place-self: center;
  }

  .card__text > h1 {
    font-size: 3rem;
    line-height: 4rem;
    padding: 0;
  }

  .trial {
    width: 100%;
    padding-right: 8rem;
  }

  form {
    padding: 2.5rem;
  }
}
